
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<h2>Admin Dashboard</h2>
<hr />

<div class="container">
    <h6>Number of Users: @Session["NumberOfUsers"] </h6>
    <h6>Number of Products: @Session["NumberOfUsers"] </h6>
    <h6>Number of Orders: @Session["NumberOfUsers"] </h6>
</div>
